

body {
  background-color: #d5d5d5;
}

p {
  padding: 0;
  margin: 0;
}

.header-bar {
  background-color: #0079D3;

}

.search-bar-container {
  display:flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header-bar__text {
  margin: 0;
  padding: 20px 0 20px 20px;
  color: white;
  font-weight: 200;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 80%;

}

.about {
  padding: 15px 20px;
  background-color: #005ca0;
  color: white;
  margin-bottom: 20px;
  
}

.article-list-container {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
}

.article-item {
  margin-bottom: 1.5rem;
  background-color: rgb(252, 251, 251);
  padding: 10px;
  border: solid 1px rgb(164, 164, 164);
  border-radius: 8px;
  
}


.article-item__header {
  color: black;
  text-decoration: none;
  font-size: 26px;
  font-weight: 200;
  transition: all ease .1s;
}

.article-item__header:hover {
  font-weight: 300;
}

.article-item__header:visited {
  color: rgb(172, 172, 172);

}

.article-item__votes-and-comments {
  display: flex;
  justify-content: space-around;
  padding: 5px 10px 10px 0;
  margin:0;
}

.article-item__link {
  display: flex;
  justify-content: space-evenly;
  margin:0;
}

.upvotes {
  color: #FF4500;
  font-weight: 700;
  font-size: 14px;
}

.comments {
  color: #0079D3;
  font-weight: 700;
  font-size: 14px;
}

.article-item__link-button {
  display: block;
  background-color: #005ca0;
  color: white;
  font-weight: 700;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  border-style: none;
  transition: all ease .50s;
}

.article-item__link-button:hover {
  background-color: #004172;
}

.load-more-button {
  padding: 6px;
  margin: 0 0 20px 0;
  border-radius: 8px;
  border-style: none;
  color: white;
  background-color: black;
  font-size: 12px;
  font-weight: 700;
  transition: all ease .50s;
}

.load-more-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.media-div {
  max-width: 100%;
  /* display: flex; */
}

.image-style {
  width: 100%;
}

.subreddit-button__container {
  display: flex;
  gap: 2px;
  margin-bottom: 10px;
}

.subreddit-button{
  background-color: #005ca0;
  color: white;
  border-style: none;
  padding: 3px 5px;
  border-radius: 4px;
}

.subreddit-button:hover {
  cursor: pointer;
}